<a #componentDownloader [href]="fileUrl" style="display: none;" download="componente.txt"></a>

<po-page-default p-title="PO Layout Builder - Alpha" [p-actions]="actions">

  <po-widget *ngIf="exibirConfig" p-title="Configuração" (p-primary-action)="confirmarAlteracoes()"
    p-primary-label="Confirmar" (p-secondary-action)="closeModal()" p-secondary-label="Cancelar" [p-height]="windowSize"
    (window:resize)="onResize($event)">

    <div class="po-row po-mb-1">
      <po-button p-type="primary" p-label="Componente" p-icon='po-icon po-icon-plus-circle'
        (p-click)='adicionarComponente()'>

      </po-button>

      <po-button class="po-ml-1" p-type="danger" p-icon="po-icon po-icon-delete" p-label="Limpar"
        (p-click)='limparTela()'>

      </po-button>
    </div>
    <div class="po-row">
      <po-widget class="po-lg-6 po-mb-1" [p-height]="windowSize - 190" p-title="Componentes">

        <po-tree-view [p-selectable]='true' [p-items]="treeViewData" (p-unselected)='treeViewItemSelecionado($event)'
          (p-selected)='treeViewItemSelecionado($event)'>
        </po-tree-view>
      </po-widget>

      <po-widget class="po-lg-6 po-mb-1" [p-height]="windowSize - 190" *ngIf="componentEdicao != null"
        [p-title]="'Edição Componente' + ( (componentEdicao?.component?.name)?componentEdicao?.component?.name :'')"
        (p-primary-action)="adicionarSubComponentes()" p-primary-label="Adicionar Subcomponente">

        <div class="po-row">
          <po-combo class="po-md-12" name="ComponentCombo" p-label="Componente:" [(ngModel)]="componentEdicao.component"
            p-required [p-options]="componentsOptions" (p-change)="changeComponentCombo()" [p-filter-mode]="'contains'">
          </po-combo>
        </div>

        <div class="po-row" *ngIf="componentEdicao != null">
          <po-list-view class="po-md-12" p-property-title="name" [p-items]="componentProperties">
            <ng-template p-list-view-content-template let-item>
              <div class="po-row">
                <po-switch [(ngModel)]="item.showEditor" p-label="Exibir editor avançado?" p-label-off=" "
                  p-label-on=" ">
                </po-switch>
              </div>
              <div class="po-row" *ngIf="item.showEditor == undefined || item.showEditor == false">
                <po-input name="input" p-clean='true' p-no-autocomplete='true' class="po-md-12" [(ngModel)]="item.value"
                  (p-change-model)="confirmarEdicaoComponente(false)"></po-input>

              </div>
              <div class="po-row" *ngIf="item.showEditor == true">
                <po-code-editor class="po-md-12" [(ngModel)]="item.value" p-height="300" p-language="json">
                </po-code-editor>
                <po-button p-type="primary" p-label="Salvar" class='po-md-12'
                  (p-click)="item.showEditor = false;confirmarEdicaoComponente(false);"></po-button>
              </div>
            </ng-template>
          </po-list-view>
        </div>
      </po-widget>
    </div>
  </po-widget>
  <app-component-layout *ngFor="let item of components;" [componentData]="item"></app-component-layout>
</po-page-default>